<!DOCTYPE html>
{% load static%}
<html>
<head>
	<meta charset="utf-8">
	<title>restaurant</title>
	
	<!--link to style sheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

	 <!--link to google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" >

    <!--Link to boxicons-->

   <link rel="stylesheet"
   href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
{% block body %}
{% endblock body%}
</body>
</html>